<h1>Welcome to your TASKS</h1>
<% @tasks.each do |task| %>
<article>
  <ul>
    <li><%=link_to(task[:title], show_path(task[:id])) %></li>
     <% if task[:status] == "complete"  %>
     <%= "✅" %>
     <% else  %>
    <li><button><%=button_to "completed?", complete_path(task[:id]), method: :patch %></button></li>
    <% end %>
  </ul>
</article>
<% end %>
