<h1>Task Details</h1>

<article>
<ul>
  <li>Task Id: <%=@mytask[:id]%></li>
  <li>Task Title: <%=@mytask[:title]%></li>
  <li>Task Description: <%=@mytask[:description]%></li>
  <li>Completion Status: <%=@mytask[:completed_at]%></li>
</ul>
